.DS_Store
*.swp
.build/
build/
DerivedData/
*.xcuserdata/
xcuserdata/
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.vscode/settings.json
Secrets.xcconfig
TestResults.xcresult/
