name: Build
permissions:
  contents: read

on:
  push:
    branches: 
      - '**'
  pull_request:
    branches:
      - '**'

jobs:

  pre_job:
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@master

  build:
    needs: pre_job
    if: ${{ needs.pre_job.outputs.should_skip != 'true' }}
    name: Build MiddleDrag
    runs-on: macos-15
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Build
        run: |
          xcodebuild -scheme MiddleDrag \
            -project MiddleDrag.xcodeproj \
            -configuration Release \
            -destination "platform=macOS" \
            CODE_SIGN_IDENTITY="" \
            CODE_SIGNING_REQUIRED=NO \
            CODE_SIGNING_ALLOWED=NO \
            build
